<!-- HERO -->
<div id="hero">
	<div id="description">
		<h3>reviewed:</h3>
		<p><a href="#">How to spend your quarters in JC’s Barcade.</a></p>
	</div>
</div>

<div id="bottom">
	<ul>
		<li><img src="assets/tumblr_logo.png" alt="Tumblr"></li>
		<li><img src="assets/facebook_logo.png" alt="Facebook"></li>
		<li><img src="assets/twitter_logo.png" alt="Twitter"></li>
	</ul>
</div>

<!-- CONTENT -->
<section>
	<h2>Shop</h2>
	<div class="threecol">
		<a href="#"><img src="assets/HomeBoy.png"></a>
		<p><a href="#">Home, Boy.<strong> $20</strong></a></p>
	</div>

	<div class="threecol">
		<a href="#"><img src="assets/HomeBoy.png"></a>
		<p><a href="#">Home, Boy.<strong> $20</strong></a></p>
	</div>

	<div class="threecol">
		<a href="#"><img src="assets/JC-Logo-T-Shirt.png"></a>
		<p><a href="#">Jersey City.<strong> $20</strong></a></p>
	</div>
</section>

<!-- SPONSOR -->
<div id="sponsor">
	<p>itsjerseycity is sponsored by:</p>
</div>

<!-- CONTENT -->
<section class="blog">
	<h2>Blog</h2>

	<p>
		Tendrils of gossamer clouds trillion take root and flourish. 
		Sea of Tranquility! Rich in heavy atoms. Prime number dispassionate
		extraterrestrial observer Vangelis! Preserve and cherish 
		that pale blue dot. Cosmos quasar, brain is the seed of intelligence 
		corpus callosum of brilliant syntheses permanence of the stars
		worldlets Sea of Tranquility.
	</p>

	<a href="#" class="button_blue">Read</a>
</section>
