<!-- HEADER -->
<header> 
	<div id="top">
		<img src="/assets/jc-logo.svg">
		<h1>itsjerseycity.com</h1>
	</div>	
		<nav>
			<ul>
				<li><a href="#" class="shop">Shop</a></li>
				<li><a href="#" class="explore">Explore</a></li>
				<li><a href="#" class="blog">Blog</a></li>
				<li><a href="#" class="forum">Forum</a></li>
			</ul>
		</nav>
</header>